<%- include('cfeHeader.ejs') -%>
<div id="cfe_heading_container">
    <div><img id="santam_logo" src="images\SANTAM-LOGO-WEB.png" alt="your image"></div>
    <div id="ebi_title">Emerging Business Insurance</div>
</div>
<div id="cfe-reg-heading">
    YOU HAVE BEEN SUCCESSFULLY REGISTERED!
</div>
<div id="cfe-reg-paragraph">
    Thank you for enrolling in Santam's FREE Consumer Financial Education (CFE) Training.<br><br>
    We've securely stored your responses and contact details for your convenience.<br><br>
    But that's not all! By successfully completing the CFE Training, you'll automatically earn yourself a chance to win a share of R50,000 in Boxer Shopping Vouchers in our exciting Lucky Draw.<br><br>
    So, stay vigilant and watch for that CFE Training invitation in your chat. We can't wait to embark on this educational journey with you!
</div>