<%- include('header.ejs') -%>
<head>
    <link rel='stylesheet' href='/stylesheets/cfeTrainingQuestions.css'/>
</head>
<div class="all-question-container">
    <div id="succesful_quiz_div" class="question-container active">
        <h1>You Passed</h1>
        <p>Congratulations you have already passed the quiz by getting 10/10.</p>
        <p>You would have recieved your certificate via a message.</p>
        <button id="chat_btn">Go To Chat</button>
    </div>
</div>
