<%- include('header.ejs') -%>
<head>
    <link rel='stylesheet' href='/stylesheets/cfeTrainingQuestions.css'/>
</head>

<div class="all-question-container">
  <div id="on_load_div" class="question-container active">
   <h1>Welcome to the CFE Quiz</h1>
   <p>There are 10 questions that need to be completed.</p>
   <p>Once you have successfully completed the quiz you will receive a CFE Training certificate</p>
   <p>This quiz has been designed for portrait mode, so please ensure you have rotated your phone after the video to continue.</p>
   <button id="start_quiz">Start Quiz</button>
  </div>
  <form action="">
      <div id="question1" class="question-container">
        <h1>Question 1</h1>
        <p>Which type of business matches the following description?</p>
        <p>A formal arrangement by two or more people to own and run a business. There is no legal distinction between the owners and the business entity.</p>
        <select name="" id="">
          <option value="" selected disabled hidden>SELECT OPTION</option>
          <option value="sole_proprietor">Sole Proprietor</option>
          <option value="partnership">Partnership</option>
          <option value="close_corporation">Close Corporation</option>
          <option value="company">Company</option>
        </select>
      </div>

      <div id="question2" class="question-container">
        <h1>Question 2</h1>
        <p>Select all answers that apply.</p>
        <p>As the owner of a small or micro business, you need to plan for the financial needs of the three roles you perform in the operation of your business</p>
        <p>What are these three roles?</p>
        <div class="multi-checkboxes">
        <label for="individual">
          <input type="checkbox" id="individual" name="category[]" value="individual">
          Individual
        </label>
        <label for="insurer">
          <input type="checkbox" id="insurer" name="category[]" value="insurer">
          Insurer
        </label>
        <label for="employer">
          <input type="checkbox" id="employer" name="category[]" value="employer">
          Employer
        </label>
        <label for="dependent">
          <input type="checkbox" id="dependent" name="category[]" value="dependent">
          Dependent
        </label>
        <label for="business_owner">
          <input type="checkbox" id="business_owner" name="category[]" value="business_owner">
          Business Owner
        </label>
        <label for="employee">
          <input type="checkbox" id="employee" name="category[]" value="employee">
          Employee
        </label><br>
        </div>
      </div>

      <div id="question3" class="question-container">
        <h1>Question 3</h1>
        <p>Consider the following statement and indicate whether it is TRUE or FALSE.</p>
        <p>Good cashflow management is about proper timing of when to start your business and when to exit it.</p>
        <select name="" id="">
          <option value="" selected disabled hidden>SELECT OPTION</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>

      <div id="question4" class="question-container">
        <h1>Question 4</h1>
        <p>Select the correct answer.</p>
        <p>What is shareholding?</p>
        <div class="single-select-checkbox">
        <label for="q4option1">
          <input type="radio" id="q4option1" name="shareholding" value="q4option1">
          Shareholding entails using your own money (personal savings) to loan money to the business.
        </label>
        <label for="q4option2">
          <input type="radio" id="q4option2" name="shareholding" value="q4option2">
          Shareholding is a bond which is used to finance fixed assets like buildings and equipment used in the business.
        </label>
        <label for="q4option3">
          <input type="radio" id="q4option3" name="shareholding" value="q4option3">
          Shareholding entails someone buying into the business by paying a predetermined amount to own part of the share capital of the business.
        </label>
        <label for="q4option4">
          <input type="radio" id="q4option4" name="shareholding" value="q4option4">
          Shareholding entails a person who uses their own money to invest in your business, especially when it is a start-up and nobody else is willing to fund the business.
        </label><br>
        </div>
      </div>

      <div id="question5" class="question-container">
        <h1>Question 5</h1>
        <p>Select the correct answer.</p>
        <p>What is the main disadvantage of using shareholding as a strategy to acquire finance for the business?</p>
        <div class="single-select-checkbox">
        <label for="q5option1">
            <input type="radio" id="q5option1" name="disadv_shareholding_finance" value="q5option1">
            You need the bank to review and approve your business plan.
        </label>
        <label for="q5option2">
            <input type="radio" id="q5option2" name="disadv_shareholding_finance" value="q5option2">
            You are giving away control to the new shareholder(s).
        </label>
        <label for="q5option3">
          <input type="radio" id="q5option3" name="disadv_shareholding_finance" value="q5option3">
          You need to be a sole proprietor to sell shares in the business.
        </label>
        <label for="q5option4">
          <input type="radio" id="q5option4" name="disadv_shareholding_finance" value="q5option4">
          You need to contribute from your own funding to sell shares.
        </label>
        </div>
      </div>

      <div id="question6" class="question-container">
        <h1>Question 6</h1>
        <p>Select the correct answer.</p>
        <p>Who should business owners talk to for proper advice on the short-term insurance products that will suit their business?</p>
        <div class="single-select-checkbox">
        <label for="q6option1">
          <input type="radio" id="q6option1" name="insurance_advice" value="q6option1">
          A trusted business partner
        </label>
        <label for="q6option2">
          <input type="radio" id="q6option2" name="insurance_advice" value="q6option2">
          A personal financial advisor
        </label>
        <label for="q6option3">
          <input type="radio" id="q6option3" name="insurance_advice" value="q6option3">
          An accountant
        </label>
        <label for="q6option4">
          <input type="radio" id="q6option4" name="insurance_advice" value="q6option4">
          An accredited short-term broker
        </label><br>
        </div>
      </div>

      <div id="question7" class="question-container">
        <h1>Question 7</h1>
        <p>Consider the following statement and indicate whether it is TRUE or FALSE.</p>
        <p>There are many different types of tax you need to register for, depending on the type of business and your specific circumstances. You should always consult with an accountant.</p>
        <select name="" id="">
        <option value="" selected disabled hidden>SELECT OPTION</option>
        <option value="true">True</option>
        <option value="false">False</option>
        </select>
      </div>

      <div id="question8" class="question-container">
        <h1>Question 8</h1>
        <p>Order the options:</p>
        <label for="q8option1">STEP 1:</label>
        <select name="q8option1" id="q8option1" class="order-select">
            <option value="" selected disabled hidden>SELECT OPTION</option>
            <option value="budget_big_costs">Budget for big costs</option>
            <option value="id_list_expenses">Identify and list all expenses</option>
            <option value="calc_revenue">Calculate revenue</option>
        </select>
        <label for="q8option2">STEP 2:</label>
        <select name="q8option2" id="q8option2" class="order-select">
            <option value="" selected disabled hidden>SELECT OPTION</option>
            <option value="budget_big_costs">Budget for big costs</option>
            <option value="id_list_expenses">Identify and list all expenses</option>
            <option value="calc_revenue">Calculate revenue</option>
        </select>
        <label for="q8option3">STEP 3:</label>
        <select name="q8option3" id="q8option3" class="order-select">
            <option value="" selected disabled hidden>SELECT OPTION</option>
            <option value="budget_big_costs">Budget for big costs</option>
            <option value="id_list_expenses">Identify and list all expenses</option>
            <option value="calc_revenue">Calculate revenue</option>
        </select>
      </div>

      <div id="question9" class="question-container">
        <h1>Question 9</h1>
        <p>Consider the following statement and indicate whether it is TRUE or FALSE.</p>
        <p>The first step of managing cashflow is to determine how much cash is coming into the business and how much the business has at any point in time.</p>
        <select name="" id="">
        <option value="" selected disabled hidden>SELECT OPTION</option>
        <option value="true">True</option>
        <option value="false">False</option>
        </select>
      </div>

      <div id="question10" class="question-container">
        <h1>Question 10</h1>
        <p>Consider the following statement and indicate whether it is TRUE or FALSE.</p>
        <p>Business insurance is used by the businesses to transfer the risk they face to an insurance company by paying the insurance company a premium.</p>
        <select name="" id="">
            <option value="" selected disabled hidden>SELECT OPTION</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
      </div>

      <div id="question11" class="question-container">
        <h1>Please insert your ID number for your Certificate of completion.</h1>
        <!-- ID/passport number insert field -->
        <input type="text" name="id_number" id="id_number" placeholder="ID/Passport Number" maxlength="13" required>
      </div>
      <!-- hidden attributes -->
      <input type="hidden" name="phoneNumber" value="<%= number %>"/>
  </form>
  <button id="prev_btn">Previous</button>
  <button id="next_btn">Next</button>
  <button id="submit_btn">Submit</button>
</div>

<script type="text/javascript" src="/javascript/cfeTrainingQuestionsScripts.js"></script>